@import "tailwindcss";

@theme {
  --color-pakblue: #005CAB;
  --color-paklightblue: #e1edf7;
  --color-pakgray: #666666;
  --color-pakdarkblue: #003366;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
